{{#if user}}
    <div class="user">
        <a class="" href="#">
            <img class="img-rounded user__avatar" src="{{user.avatarUrlS}}">
        </a>

        <div class="nav-item dropdown user__name">
            <a id="dLabel" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">{{user.displayName}}</a>

            <div class="dropdown-menu" aria-labelledby="dLabel">
                <a class="dropdown-item" href="{{@baseUrl}}/user/{{user.id}}/profile">Profile</a>
                <a class="dropdown-item" href="{{@baseUrl}}/logout">Logout</a>
            </div>
        </div>
    </div>
{{/if}}